<div class="innerAll border-top">
  
  <!-- row -->
  <div class="row">

    <div class="col-md-9">
      <div class="widget">

        <!-- Category Heading -->
        <div class="widget-head">
          <h4 class="margin-none">Mis antecesores</h4>
          <div class="clearfix"></div>
        </div>
        <!-- End Category Heading -->
        
        <!-- Category Listing -->
        <% if @parent.present? %>
          <div class="bg-gray-hover overflow-hidden">
            <div class="row innerAll half  border-bottom">
              <div class="media">
                <a href="" class="pull-left"><img src="<%= @parent.avatar %>" alt="" class="img-circle" ></a>
                <div class="media-body">
                    <%= @parent.username %>
                </div>
                <div class="clearfix"></div>

              </div>
            </div>
          </div>
        <% end %>
        
        <% if @parent2.present? %>
          <div class="bg-gray-hover overflow-hidden">
            <div class="row innerAll half  border-bottom">
              <div class="media">
                <a href="" class="pull-left"><img src="<%= @parent2.avatar %>" alt="" class="img-circle" ></a>
                <div class="media-body">
                  <%= @parent2.username if @parent2.present? %>
                </div>
                <div class="clearfix"></div>

              </div>
            </div>
          </div>
        <% end %>
        
        <% if @parent3.present? %>
          <div class="bg-gray-hover overflow-hidden">
            <div class="row innerAll half  border-bottom">
              <div class="media">
                <a href="" class="pull-left"><img src="<%= @parent3.avatar %>" alt="" class="img-circle" ></a>
                <div class="media-body">
                  <%= @parent3.username if @parent3.present? %>
                </div>
                <div class="clearfix"></div>

              </div>
            </div>
          </div>
        <% end %>


      </div>
      <div class="widget">

        <div class="widget-head">
          <h4 class="margin-none">Mis referidos</h4>
          <div class="clearfix"></div>
        </div>

        <% @children.each do |x| %>
          <div class="bg-gray-hover overflow-hidden">
            <div class="row innerAll half  border-bottom">
              <div class="media">
                <a href="" class="pull-left"><img src="<%= x.avatar %>" alt="" class="img-circle" ></a>
                <div class="media-body">
                  <%= x.username %>
                </div>
                <div class="clearfix"></div>

              </div>
            </div>
          </div>
        <% end %>

      </div>
      <!-- // END col-separator --> 
    </div>
    <!-- // END col -->

    <!-- col -->
    <div class="col-md-3">

      <!-- col-separator -->
      <div class="widget">

                <div class="widget-head">
                    <!-- Heading -->
                    <h4 class="margin-bottom-none">Referidos recientes</h4>
                </div>
        <!-- Listing -->
                        <div class="border-bottom bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">John</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
                <div class="border-bottom bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">mosaicpro</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
                <div class="border-bottom bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">Jane</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
                <div class="border-bottom bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">Jonathan</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
                <div class=" bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">themepro</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
              </div>
    </div>
    <!-- // END col -->
            
  </div>
  <!-- // END row -->

</div>

</div>
<!-- // Content END -->

<div class="clearfix"></div>
<!-- // Sidebar menu & content wrapper END -->