<div class="widget-body">

  <div class="row innerAll inner-2x">
    <div class="col-sm-6">
      <%= form_for(resource, as: resource_name, url: edit_account_registration_patch_path, html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
              <%= f.label :firstname, "Nombre" %>
               <%= f.text_field :firstname, :id => 'lastname', :class => 'form-control' %>
          </div>

          <div class="form-group">
              <%= f.label :lastname, "Apellido" %>
               <%= f.text_field :lastname, :id => 'lastname', :class => 'form-control' %>
          </div>

          <div class="form-group">
              <%= f.label :username, "Nombre de Usuario" %>
               <%= f.text_field :username, :id => 'username', :class => 'form-control' %>
          </div>

          <div class="form-group">
              <%= f.label :phone, "Telefono" %>
              <%= f.text_field :phone, :id => 'phone', :class => 'form-control' %>
          </div>

          <div class="form-group">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, :id => 'email', :class => 'form-control' %>
          </div>

          <div class="form-group">
              <%= f.label :address, "Direcci칩n" %>
               <%= f.text_field :address, :id => 'address', :class => 'form-control' %>
          </div>

          <div class="form-group">
              <%= f.label :password, "Contrase침a" %> <i>(leave blank if you don't want to change it)</i>
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
          </div>

          <div class="form-group">
              <%= f.label :password_confirmation, "Confirmar Contrase침a" %>
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
          </div>

          <div class="form-group">
              <%= f.label :current_password, "Contrase침a Actual" %> <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
          </div>

          <div class="separator"></div>
            <div class="form-group">
              <%= f.submit "Actualizar", :class => 'btn btn-primary' %>
          </div>
        <% end %>
    </div>
    <div class="col-sm-6">
        <div class="well">
            <h4>Additional Information</h4>
            <div class="separator"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aspernatur assumenda at commodi dolorem eos eum exercitationem facere ipsum mollitia nemo perspiciatis quaerat qui quidem, quod repellat repudiandae sed veritatis voluptate? Eos necessitatibus non rem repudiandae similique vero voluptatem?</p>
        </div>
    </div>
  </div>

</div>
    </div>

</div>


<!-- CREATE TASK MODAL -->
<!-- Modal -->
<div class="modal fade" id="modal-task">

    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <!-- Modal body -->
            <div class="modal-body padding-none ">

                <form class="form-horizontal " role="form">

                        <div class="innerLR innerT">
                            <div class="form-group">
                                <label for="to" class="col-sm-2 control-label">Task:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="to">
                                        <div class="input-group-btn">
                                            <button type="button" data-toggle="collapse" data-target="#cc" class="btn btn-default">Schedule <span class="caret"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="cc" class="collapse">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Starts:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date datepicker2">
    <input class="form-control" type="text" value="14 February 2013" />
    <span class="input-group-addon"><i class="fa fa-th"></i></span>
</div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Ends:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date datepicker2">
    <input class="form-control" type="text" value="14 February 2013" />
    <span class="input-group-addon"><i class="fa fa-th"></i></span>
</div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Milestone:</label>
                                <div class="col-sm-6">
                                    <select class="selectpicker">
                                        <option>HTML Validation</option>
                                        <option>User Interface Design</option>
                                        <option>Update Bootstrap 3.2</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Project:</label>
                                <div class="col-sm-6">
                                    <select class="selectpicker">
                                        <option>Project #1</option>
                                        <option>Project #2</option>
                                        <option>Project #3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                    <div class="innerAll bg-white">
                        <textarea class="notebook border-none form-control padding-none" rows="4" placeholder="Task description..."></textarea>
                        <div class="clearfix"></div>
                    </div>
                </form>

            </div>
            <!-- // Modal body END -->

            <div class="innerLR innerB text-right">
                <a href="" class="btn btn-default"><i class="fa fa-times"></i> Cancel</a>
                <a href="" class="btn btn-primary"><i class="fa  fa-check"></i> Submit</a>
            </div>

        </div>
    </div>

</div>
<!-- // Modal END -->




<!-- // END MODAL -->

    
    </div>
    <!-- // Content END -->
    
    <div class="clearfix"></div>
    <!-- // Sidebar menu & content wrapper END -->
    
    <div id="footer" class="hidden-print">
      
      <!--  Copyright Line -->
      <div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase SMART on ThemeForest</a> - Current version: v1.0.0-rc1 / <a target="_blank" href="../assets/../../CHANGELOG.txt?v=v1.0.0-rc1">changelog</a></div>
      <!--  End Copyright Line -->
  
    </div>
    
    <!-- // Footer END -->
    
  </div>
  <!-- // Main Container Fluid END -->
  

    <!-- Global -->
    <script data-id="App.Config">
        var App = {};        var basePath = '',
            commonPath = '../assets/',
            rootPath = '../',
            DEV = false,
            componentsPath = '../assets/components/';

        var primaryColor = '#c72a25',
            dangerColor = '#b55151',
            successColor = '#609450',
            infoColor = '#4a8bc2',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;

            </script>
